.container {
  @apply p-2 md:p-4 w-11/12 md:w-1/2 bg-white  rounded-lg shadow-md z-30 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.header {
  @apply flex justify-between items-center h-12;
}

.body {
}

.footer {
  @apply flex mt-4 justify-start gap-2 items-center;
}

.close {
  @apply cursor-pointer text-gray-500 hover:text-gray-700;
}
