@tailwind base;

@tailwind components;

@tailwind utilities;

/* Global layout styles */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px; /* primjer */
  z-index: 999;
  @apply fixed top-0 left-0  bg-slate-300 p-4 flex justify-between  w-full;
}

.main {
  padding-top: 64px; /* isto kao visina navbar-a */
}

/*Button styles*/

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-fit cursor-pointer;
}

.btn-action {
  @apply bg-green-500 hover:bg-green-700;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.btn-active {
  @apply bg-blue-900;
}

.btn-inactive {
  @apply bg-gray-500;
}

.text-link {
  @apply hover:underline cursor-pointer hover:text-blue-800;
}

/* repetitive utility classes */

.fst {
  @apply flex justify-start items-start;
}

.fsc {
  @apply flex justify-start items-center;
}
.fbc {
  @apply flex justify-between items-center;
}

.fcs {
  @apply flex flex-col justify-center items-start;
}

.fcc {
  @apply flex flex-col justify-center items-center;
}

.frc {
  @apply flex flex-row justify-center items-center;
}

.fcs {
  @apply flex flex-col justify-start items-start;
}

.fse {
  @apply flex  justify-start items-end;
}

/* page outlook */

.tile-title {
  @apply text-lg font-semibold py-2;
}

.tiles-grid {
  @apply grid grid-cols-1 md:grid-cols-4 gap-4 w-full items-stretch;
}

.tiles-grid > div {
  @apply h-full min-h-[140px];
}

/* form styles */

.form {
  @apply flex flex-col gap-4;
}

.input-field {
  @apply w-full border border-gray-300 rounded px-2 py-2 hover:border-gray-400;
}

.textarea-field {
  @apply w-full h-32 border border-gray-300 rounded px-2 py-1 hover:border-gray-400;
}

.form-select {
  @apply w-full border border-gray-300 rounded px-2 py-2 hover:border-gray-400;
}
