@tailwind base;

@tailwind components;

@tailwind utilities;

/* Global layout styles */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

/*Button styles*/

.btn {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-fit cursor-pointer;
}

.btn-action {
  @apply bg-green-500 hover:bg-green-700;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
}

.btn-active {
  @apply bg-blue-900;
}

.btn-inactive {
  @apply bg-gray-500;
}

/* repetitive utility classes */

.fbc {
  @apply flex justify-center items-center;
}

.fcc {
  @apply flex flex-col justify-center items-center;
}

/* page outlook */

.tile-title {
  @apply text-lg font-semibold py-2;
}
